Backup1/TestFrontEnd/Service References/CTM0100SvcRef/CTM0100Svc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CT_Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CT_Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CT_ServiceExceptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exceptions" nillable="true" type="tns:ArrayOfCT_Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CT_ServiceExceptions" nillable="true" type="tns:CT_ServiceExceptions" />
  <xs:complexType name="ArrayOfCT_Error">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CT_Error" nillable="true" type="tns:CT_Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCT_Error" nillable="true" type="tns:ArrayOfCT_Error" />
  <xs:complexType name="CT_Error">
    <xs:sequence>
      <xs:element name="lcErrDescp" nillable="true" type="xs:string" />
      <xs:element name="lcErrNo" nillable="true" type="xs:string" />
      <xs:element name="llHasErrorDetail" type="xs:boolean" />
      <xs:element name="loErrorDetails" nillable="true" type="tns:ArrayOfCT_ErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CT_Error" nillable="true" type="tns:CT_Error" />
  <xs:complexType name="ArrayOfCT_ErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CT_ErrorDetail" nillable="true" type="tns:CT_ErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCT_ErrorDetail" nillable="true" type="tns:ArrayOfCT_ErrorDetail" />
  <xs:complexType name="CT_ErrorDetail">
    <xs:sequence>
      <xs:element name="lcErrDescp" nillable="true" type="xs:string" />
      <xs:element name="lcErrNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CT_ErrorDetail" nillable="true" type="tns:CT_ErrorDetail" />
</xs:schema>