Test/TestService/TestClient/Service References/EmployeeRef/EmployeeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2346/Server/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:2346/Server/EmployeeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/R_BackEnd" />
  <xs:element name="Svc_R_GetRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="poEntity" nillable="true" type="q1:EmployeeDTO" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/R_BackEnd" minOccurs="0" name="poCRUDMode" type="q2:eCRUDMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_R_GetRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Svc_R_GetRecordResult" nillable="true" type="q3:EmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_R_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="poEntity" nillable="true" type="q4:EmployeeDTO" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/R_BackEnd" minOccurs="0" name="poCRUDMode" type="q5:eCRUDMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_R_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Svc_R_SaveResult" nillable="true" type="q6:EmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_R_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="poEntity" nillable="true" type="q7:EmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_R_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>