TestFrontEnd/Service References/CTM0100SvcRef/CTM0100Svc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfm_karyawan02DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="m_karyawan02DTO" nillable="true" type="tns:m_karyawan02DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfm_karyawan02DTO" nillable="true" type="tns:ArrayOfm_karyawan02DTO" />
  <xs:complexType name="m_karyawan02DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FOTO" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="GAPOK" type="xs:decimal" />
      <xs:element minOccurs="0" name="JABATAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JENIS_KELAMIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JUM_ANAK" type="xs:int" />
      <xs:element minOccurs="0" name="NAMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TGL_LAHIR" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TUN_TRANSPORT" type="xs:decimal" />
      <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="m_karyawan02DTO" nillable="true" type="tns:m_karyawan02DTO" />
</xs:schema>