CTM0100/Service References/CTM0100SvcRef/CTM0100Svc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2291/TestBackEnd/CTM0100Svc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:2291/TestBackEnd/CTM0100Svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CT_BackEnd" />
  <xs:element name="Svc_CT_GetRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="poEntity" nillable="true" type="q1:m_karyawan01DTO" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CT_BackEnd" minOccurs="0" name="poCRUDMode" type="q2:eCRUDMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_CT_GetRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Svc_CT_GetRecordResult" nillable="true" type="q3:m_karyawan01DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_CT_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="poEntity" nillable="true" type="q4:m_karyawan01DTO" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CT_BackEnd" minOccurs="0" name="poCRUDMode" type="q5:eCRUDMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_CT_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Svc_CT_SaveResult" nillable="true" type="q6:m_karyawan01DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_CT_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="poEntity" nillable="true" type="q7:m_karyawan01DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_CT_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetListResult" nillable="true" type="q8:ArrayOfm_karyawan02DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLKm_warga_negara">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="poEntity" nillable="true" type="q9:LKm_warga_negaraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLKm_warga_negaraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLKm_warga_negaraResult" nillable="true" type="q10:ArrayOfLKm_warga_negaraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLKm_jabatan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLKm_jabatanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLKm_jabatanResult" nillable="true" type="q11:ArrayOfLKm_jabatanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLKm_pendidikan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLKm_pendidikanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLKm_pendidikanResult" nillable="true" type="q12:ArrayOfLKm_pendidikanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRoleResult" nillable="true" type="q13:ArrayOfRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>